@media only screen and (max-width: 1920px){ /* smaller desktop*/
    /*Starting screen styling*/

.gameboard9 {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 200px);
    gap: 15px;
    background-color: rgba(23, 33, 78, 0.616);
  }
  .gameboard18 {
    display: grid;
    grid-template-columns: repeat(6,160px);
    grid-template-rows: repeat(6, 160px);
    gap: 15px;
    margin: 10px;
    background-color: rgba(23, 33, 78, 0.616);
  }
  .gameboard27 {
    grid-template-columns: repeat(9, 140px);
    grid-template-rows: repeat(6, 140px);
    gap: 10px;
    background-color: rgba(23, 33, 78, 0.616);
  }
  /*images classes*/
  .img150{
    min-width: 140px;
    min-height: 140px;
  }
  .img175{
    min-width: 160px;
    min-height: 160px;
  }
  .img250{
    min-width: 200px;
    min-height: 200px;
  }
}

@media only screen and (max-width: 1440px) { /*Small notebook*/
  .gameboard9 {
    display: grid;
    grid-template-columns: repeat(5, 137px);
    grid-template-rows: repeat(4, 137px);
    gap: 12px;
  }
  .gameboard18 {
    display: grid;
    grid-template-columns: repeat(6,115px);
    grid-template-rows: repeat(6, 115px);
    gap: 12px;
  }
  .gameboard27 {
    grid-template-columns: repeat(9, 75px);
    grid-template-rows: repeat(6, 75px);
    gap: 12px;
    
  }
  /*images classes*/
  .img150{
    min-width: 100px;
    min-height: 100px;
  }
  .img175{
    min-width: 100px;
    min-height: 100px;
  }
  .img250{
    min-width: 155px;
    min-height: 155px;
  }
}