
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playpen+Sans:wght@500;700&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=League+Spartan:wght@400;500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: #08082b;
  height: 980px;
}


.font-setter{
  font-family: 'Playpen Sans', sans-serif;
}
.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.padX2{
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
/*Reusable HAA*/
.NavButton{
  transition: all 0.5s ease;
  background-image: none;
}
.NavButton:hover{
  background-color: #fdb754;
  scale: 1.05;
}
/*Navbar*/
.extraLarge{
  font-size: 168px;
}
.borderCustom{
  -webkit-text-stroke: 4px #2e2e2e;
}
.dropShadow{
  text-shadow: 
  -1px -1px 1px #efede3, 
  0px 1px 0 #2e2e2e, 
  0px 2px 0 #2c2c2c, 
  0px 3px 0 #2a2a2a, 
  0px 4px 0 #282828, 
  0px 5px 0 #262626, 
  0px 6px 0 #242424, 
  0px 7px 0 #222, 
  0px 8px 0 #202020, 
  0px 9px 0 #1e1e1e, 
  0px 10px 0 #1c1c1c, 
  0px 11px 0 #1a1a1a, 
  0px 12px 0 #181818, 
  0px 13px 0 #161616, 
  0px 14px 0 #141414, 
  0px 15px 0 #121212,
  2px 20px 5px rgba(0, 0, 0, 0.5),
  5px 23px 5px rgba(0, 0, 0, 0.3),
  8px 27px 8px rgba(0, 0, 0, 0.4),
  8px 28px 35px rgba(0, 0, 0, 0.5);
}

.imgCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100;
}
.centered {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Archivo Black', sans-serif;
}
.startSection{
    background-color: red;
}
.hidden{
    opacity: 0;
    position: absolute;
}
.header{
    font-size: 60px;
}
.diffSetting{font-size: 40px;
}

.diffChoose{font-size: 35px;
}
.label-style {
  width: 280px;
  height: 280px;
  text-align: center;
  padding: 5px;
  background-image: linear-gradient(180deg, #273958 10%, #13061f);
}
.label-checked{
  width: 125px;
  text-align: center;
}
/*.label-style:active{color: wheat;}
.label-style:hover{
    background-color: rgb(157, 164, 157);
}*/
.buton-style {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 1px;
  font-size: 35px;
}

/*Starting screen styling*/

.gameboard9 {
  display: grid;
  grid-template-columns: repeat(5, 225px);
  grid-template-rows: repeat(4, 225px);
  gap: 25px;
  background-color: rgba(23, 33, 78, 0.616);
}
.gameboard18 {
  display: grid;
  grid-template-columns: repeat(6,172px);
  grid-template-rows: repeat(6, 172px);
  gap: 25px;
  margin: 10px;
  background-color: rgba(23, 33, 78, 0.616);
}
.gameboard27 {
  display: grid;
  grid-template-columns: repeat(9, 150px);
  grid-template-rows: repeat(6, 150px);
  gap: 25px;
  background-color: rgba(23, 33, 78, 0.616);
}






/**game cards jako celek*/

.gameCard{
  cursor: pointer;
  display: grid;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
  
}
.gameCardFound{
  cursor: pointer;
  display: grid;
  width: auto;
  height: auto;
  transform: rotateY(180deg);
}
.gameCardActive{
  cursor: pointer;
  display: grid;
  width: auto;
  height: auto;
  transform-style: preserve-3d;
  transition: all 0.59s ease;
  transform: rotateY(180deg);
}
.gameCardFront{
 display: grid;
 position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #ffc728;
  color: #000;
 
}

.unclickable{
  pointer-events: none;
  cursor: not-allowed;
}
.gameCardBack{
 display: grid;
 position: absolute;
  width: fit-content;
  height: fit-content;
  backface-visibility: hidden;
  overflow: hidden;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
  
}

.img150{
  overflow: hidden;
  min-width: 150px;
  min-height: 150px;
  background-color: #000; 
  pointer-events: none;
  cursor: not-allowed;
}
.img175{
  overflow: hidden;
  min-width: 172px;
  min-height: 172px;
  background-color: #000; 
  pointer-events: none;
  cursor: not-allowed;
}
.img250{
  overflow: hidden;
  min-width: 225px;
  min-height: 225px;
  background-color: #000; 
  pointer-events: none;
  cursor: not-allowed;
}



/* game cards předek a zadek*/

#playerSection{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 80%;
  top: 2%;
  width: 100px ;
  height: 100px;
  background-color: aqua;
  padding: 5px;
}
#playerSection2{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 80%;
  top: 2%;
  width: 100px ;
  height: 100px;
  background-color: aqua;
  padding: 5px;
}
.player1{
  margin: 2px;
  font-size: large;
  text-align: center;
}
.player2{
  margin: 2px;
  font-size: large;
  text-align: center;
}

/*players*/