*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard9{
display: grid;
grid-template-columns: repeat(3,150px);
}